.main_container {
  background-color: #3f4747;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.text {
  font-size: 2.5rem;
  text-align: center;
}
