.main_container {
  padding-right: var(--grid-padding);
  display: flex;
  justify-content: end;
  align-items: center;
}

.text {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 768px) and (orientation: portrait) {
  .text {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
}
