.main_container {
  display: flex;
  align-items: center;
  padding-left: var(--grid-padding);
}

.value {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 768px) and (orientation: portrait) {
  .game_container {
    display: block;
    width: 100%;
  }

  .value {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
}
