/* header {
  background-color: var(--background);
  padding: 10px var(--grid-padding);
  position: sticky;
  top: 0;
}

h1 {
  flex-grow: 1;
  margin: 0;

  font-size: 2rem;
  color: #b2945b;
  color: #db9d2b;
  text-align: center;
} */
