.main_container {
  border: 3px solid #272d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.value {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
